<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verwaltung und so</title>
    <link rel="shortcut icon" href="/static/images/logo.svg">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <a href="{{url_for('startseite')}}">Home</a>
    <a href="{{url_for('zeiten')}}">Zeiten</a>
    <a href="{{url_for('verwalten')}}">Verwalten</a>
    <div class="line"></div>
    <h1>Verwaltung von der Datenbank</h1>
    <h4>ich weiß nicht wie ich das elegant nennen soll</h4>
</body>
</html>