<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verwaltung und so</title>
    <link rel="shortcut icon" href="/static/images/logo.svg">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <a href="{{url_for('startseite')}}">Home</a>
    <a href="{{url_for('zeiten')}}">Zeiten</a>
    <a href="{{url_for('verwalten')}}">Verwalten</a>
    <div class="line"></div>
    <h1>Verwaltung von der Datenbank</h1>
    
<form method="POST">

    <input
        type="text"
        name="name"
        placeholder="Name"
        required
    >

    <input
        type="text"
        name="vorname"
        placeholder="Vorname"
        required
    >

    <select name="jahrgang">

        <option value="JG 5/6">JG 5/6</option>
        <option value="JG 7/8">JG 7/8</option>
        <option value="JG 9/10">JG 9/10</option>
        <option value="OBS">Oberstufe</option>

    </select>

    <input
        type="text"
        name="klasse"
        placeholder="5a"
        required
    >

    <input
        type="text"
        name="zeit"
        placeholder="12:45"
    >

<button type="submit" name="hinzufuegen">
    Schüler hinzufügen
</button>
</form>

    <h2>Schüler löschen</h2>

    <form method="POST">

        <select name="schueler_id" required>

            {% for s in schueler %}

                <option value="{{ s['id'] }}">

                    {{ s["jahrgang"] }} |
                    {{ s["klasse"] }} |
                    {{ s["vorname"] }}
                    {{ s["name"] }} |
                    {{ s["zeit"] }}

                </option>

            {% endfor %}

        </select>

        <button type="submit" name="loeschen">
            Schüler löschen
        </button>

    </form>

    <img src="{{ url_for('static', filename='images/bild.jpg') }}" height="400">


</body>
</html>