<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Zeiten</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 30px;
        }

        th,
        td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
</head>

<body>

    <a href="{{ url_for('startseite') }}">Home</a>
    <a href="{{ url_for('zeiten') }}">Zeiten</a>
    <a href="{{ url_for('verwalten') }}">Verwalten</a>

    <h1>Laufzeiten</h1>

    <h2>JG 5/6</h2>

    <table>
        <thead>
            <tr>
                <th>Klasse</th>
                <th>Name</th>
                <th>Zeit</th>
            </tr>
        </thead>

        <tbody id="JG5/6Tablle"></tbody>
    </table>

    <h2>JG 7/8</h2>

    <table>
        <thead>
            <tr>
                <th>Klasse</th>
                <th>Name</th>
                <th>Zeit</th>
            </tr>
        </thead>

        <tbody id="JG7/8Tablle"></tbody>
    </table>

    <h2>JG 9/10</h2>

    <table>
        <thead>
            <tr>
                <th>Klasse</th>
                <th>Name</th>
                <th>Zeit</th>
            </tr>
        </thead>

        <tbody id="JG9/10Tablle"></tbody>
    </table>

    <h2>Oberstufe</h2>

    <table>
        <thead>
            <tr>
                <th>Klasse</th>
                <th>Name</th>
                <th>Zeit</th>
            </tr>
        </thead>

        <tbody id="OberstufeTablle"></tbody>

    <script src="{{ url_for('static', filename='jg56.js') }}"></script>
    <script src="{{ url_for('static', filename='jg78.js') }}"></script>
    <script src="{{ url_for('static', filename='jg910.js') }}"></script>
    <script src="{{ url_for('static', filename='obs.js') }}"></script>

    <script>

        function erstelleTabelle(daten, tableId) {

            const table = document.getElementById(tableId);

            for (let klasse in daten) {

                daten[klasse].forEach(schueler => {

                    table.innerHTML += `
                        <tr>
                            <td>${klasse}</td>
                            <td>${schueler.name}</td>
                            <td>${schueler.zeit}</td>
                        </tr>
                    `;

                });

            }
        }

        erstelleTabelle(jg56, "JG5/6Tablle");
        erstelleTabelle(jg78, "JG7/8Tablle");
        erstelleTabelle(jg910, "JG9/10Tablle");
        erstelleTabelle(obs, "OberstufeTablle");
    </script>

</body>

</html>