<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Zeiten</title>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
</head>

<body>

    <h1>Laufzeiten</h1>

    <table>
        <thead>
            <tr>
                <th>JG</th>
                <th>Klasse</th>
                <th>Name</th>
                <th>Zeit</th>
            </tr>
        </thead>

        <tbody id="tableBody"></tbody>
    </table>

    <script src="jg56.js"></script>
    <script src="jg78.js"></script>

<script>
    const table = document.getElementById("tableBody");

    function datenEinfügen(daten, jahrgang) {

        for (let klasse in daten) {

            daten[klasse].forEach(schueler => {

                table.innerHTML += `
                    <tr>
                        <td>${jahrgang}</td>
                        <td>${klasse}</td>
                        <td>${schueler.name}</td>
                        <td>${schueler.zeit}</td>
                    </tr>
                `;
            });

        }
    }

    datenEinfügen(jg56, "JG 5/6");
    datenEinfügen(jg78, "JG 7/8");
</script>

</body>
</html>